<div class="page-header">
  <h1>Projects</h1>

  <%= link_to "New Project", new_project_path, class: "btn btn-blue my-4" %>
</div>

<div id="projects">
  <% @projects.each do |project| %>
    <div class="hover:bg-gray-200 p-2">
      <h2><%= link_to project.name, project %></h2>
      <p class="text-gray-600"><%= project.description %></p>
    </div>
  <% end %>
</div>
