<% title(@project.name, "Projects") %>

<div class='page-header'>
  <div>
    <h1><%= @project.name %></h1>
    <p class="text-gray-600"><%= @project.description %></p>
  </div>

<div>
  <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-blue" %>
  <%= link_to "Delete Project",
      project_path(@project),
      class: 'btn btn-red',
      method: :delete,
      data: { confirm: "Are you sure you want to delete this project?" }
  %>
</div>
</div>
