.comment {
  @extend .border, .rounded, .mb-4;
  border-width: 2px;

  .author {
    @extend .text-secondary, .font-italic, .p-2;

    background: lighten($blue, 45);
    border-bottom: 1px solid lighten($blue, 35);
  }

  .text {
    @extend .p-2;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
