// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap";

.state {
  @extend .rounded, .px-2, .py-1;
  display: inline-block;
  font-size: 110%;
  color: white;
}

.tickets li {
  @extend .mb-1;
}
